@font-face {
  font-family: "Viga";
  src: url("../fonts/Viga-Regular.ttf");
}

body {
  background-color: #c2b280;
  font-family: "Viga";
  margin: 0;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/padded.png");
  height: 100%;
  overflow: hidden;
}

.timer {
  background-color: rgba(255, 255, 255, 0.50);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  display: inline-block;
}

.container {
  margin-top: 50px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 255, 255, 0.5);
  margin: 5px;
  border-radius: 10px;
}
