@font-face {
  font-family: "Viga";
  src: url("../fonts/Viga-Regular.ttf");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2b280;
  font-family: "Viga";
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container img {
  border-radius: 10px;
  border: 2px solid black;
  width: 800px;
  height: 600px;
  object-fit: cover;
}

.progress {
  position: fixed;
  top: 75px;
  width: 46.5%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e18b;
}

.progress-bar {
  width: 50%;
  height: 100%;
  background-color: #ffcc33;
}

.timer-overlay {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.timer-overlay #timer-text {
  font-size: 30px;
  font-weight: bold;
}
.popup {
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: none;
}





