@font-face {
  font-family: "Viga";
  src: url("../fonts/Viga-Regular.ttf");
}

body {
  background-color: #c2b280;
  font-family: "Viga";
  margin: 0;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/padded.png");
  height: 100%;
  overflow: hidden;
}

.timer {
  background-color: rgba(255, 255, 255, 0.50);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  display: inline-block;
}

.container {
  margin-top: 50px;
}

#inventory-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px; /* Adjust the width as needed */
  height: 120px; /* Adjust the height as needed */
  background-color: #c2b280; /* Adjust the background color as needed */
  border: 2px solid #000; /* Adjust the border color and size as needed */
  border-radius: 5px;
}

.inventory-slot {
  width: 100px; /* Adjust the slot width as needed */
  height: 100px; /* Adjust the slot height as needed */
  background-color: rgb(255, 255, 255, 0.5); /* Adjust the slot background color as needed */
  margin: 0 10px; /* Adjust the slot margin as needed */
  align-items: center;
  justify-content: center;
}
.pyramid{
  margin: 10px;
}
