@font-face {
    font-family: "Viga";
    src: url("../fonts/Viga-Regular.ttf");
}

body {
    background-image: url("../Images/brain-left.png"), url("../Images/brain-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 75%, 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #c2b280;
    font-family: "Viga";
}

.card {
    border-radius: 100px;
    background-color: rgba(242, 242, 242, 0.7);
    padding: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.card-body h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.text-decoration-none {
    color: black;
    font-size: 20px;
}
.text-decoration-none2{
    color: black;
    font-size: 18px;
}