@font-face {
    font-family: "Viga";
    src: url("../fonts/Viga-Regular.ttf");
  }
  

  
 body {
    display: flex;
    justify-content: center;
    background-color: #c2b280;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://www.transparenttextures.com/patterns/dark-exa.png");
  }
  
  ul {
    list-style: none;
  }
  
  .card {
    display: flex;
    border-color: black;
    border-width: 0.22vw;
    border-radius: 10px;
    background-color: rgba(246, 213, 143, 0.75);
    width: 600px;
    height: 300px;
    position: relative;
  }
  
  .custom-card {
    display: flex;
    height: 70px;
    width: 500px;
    border-width: 0.22vw;
  }
  
  p {
    font-size: 20px;
    position: relative;
    margin: 2px;
  }
  
  .custom-button {
    background-color: #f6d58f;
    border-color: black;
    border-width: 0.11vw;
    margin: 20px;
    font-size: 15px;
    border-radius: 2.22vw;
    width: 200px;
    height: 8.89vh;
  }
  
  #result {
    font-size: 20px;
    margin-left: 2.22vw;
    align-items: center;
  }